/* PhD Openings CPT - Admin CSS */

#the_champ_meta {
    display: none !important;
}

.contact-form-recipient label {
	display: block;
	font-size: 15px;
	margin: 0 0 10px;
}
.contact-form-recipient input {
	border: 1px solid #e8e8e8;
	border-radius: 2px;
	box-shadow: none;
	outline: none;
	padding: 5px 10px;
	width: 100%;
}
.contact-form-recipient input:focus {
	border: 1px solid #318fe8;
	box-shadow: none;
	outline: none;
}

#phd_opening_meta,
#phd_template_meta,
#institution_meta,
#faculty_meta,
#phd_program_meta,
#cooperation_calls_meta,
#research_teams_meta,
#company_meta {
    background: transparent;
    border: 0;
    box-shadow: none;
	margin: 0 0 50px;
}
#phd_opening_meta .handlediv,
#phd_template_meta .handlediv,
#institution_meta .handlediv,
#faculty_meta .handlediv,
#phd_program_meta .handlediv,
#cooperation_calls_meta .handlediv,
#research_teams_meta .handlediv,
#company_meta .handlediv {
    display: none;
}
#phd_opening_meta .hndle,
#phd_template_meta .hndle,
#institution_meta .hndle,
#faculty_meta .hndle,
#phd_program_meta .hndle,
#cooperation_calls_meta .hndle,
#research_teams_meta .hndle,
#company_meta .hndle {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 20px;
    padding: 0;
}
#phd_opening_meta .hndle span,
#phd_template_meta .hndle span,
#institution_meta .hndle span,
#faculty_meta .hndle span,
#phd_program_meta .hndle span,
#cooperation_calls_meta .hndle span,
#research_teams_meta .hndle span,
#company_meta .hndle span {
    background: #3590d8;
    border-radius: 2px 0 0 2px;
    color: #fff;
    display: inline-block;
    padding: 10px;
}
#phd_opening_meta .inside,
#phd_template_meta .inside,
#institution_meta .inside,
#faculty_meta .inside,
#phd_program_meta .inside,
#cooperation_calls_meta .inside,
#research_teams_meta .inside,
#company_meta .inside {
    padding: 0;
}
#phd_opening_meta .inner-settings-box,
#phd_template_meta .inner-settings-box,
#institution_meta .inner-settings-box,
#faculty_meta .inner-settings-box,
#phd_program_meta .inner-settings-box,
#cooperation_calls_meta .inner-settings-box,
#research_teams_meta .inner-settings-box,
#company_meta .inner-settings-box {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    padding: 20px;
}
#phd_opening_meta .inner-settings-box p,
#phd_template_meta .inner-settings-box p,
#institution_meta .inner-settings-box p,
#faculty_meta .inner-settings-box p,
#phd_program_meta .inner-settings-box p,
#cooperation_calls_meta .inner-settings-box p,
#research_teams_meta .inner-settings-box p,
#company_meta .inner-settings-box p {
    margin: 0 0 25px;
}
#phd_opening_meta .inner-settings-box p:last-child,
#phd_template_meta .inner-settings-box p:last-child,
#institution_meta .inner-settings-box p:last-child,
#faculty_meta .inner-settings-box p:last-child,
#phd_program_meta .inner-settings-box p:last-child,
#cooperation_calls_meta .inner-settings-box p:last-child,
#research_teams_meta .inner-settings-box p:last-child,
#company_meta .inner-settings-box p:last-child {
    margin: 0;
}
#phd_opening_meta .uk-grid + .uk-grid {
    margin-top: 0;
}
#phd_opening_meta .inner-settings-box .uk-width-1-2 p:last-child,
#phd_opening_meta .inner-settings-box .uk-width-1-1 p:last-child,
#phd_template_meta .inner-settings-box .uk-width-1-2 p:last-child,
#institution_meta .inner-settings-box .uk-width-1-2 p:last-child,
#faculty_meta .inner-settings-box .uk-width-1-2 p:last-child,
#phd_program_meta .inner-settings-box .uk-width-1-2 p:last-child,
#cooperation_calls_meta .inner-settings-box .uk-width-1-2 p:last-child,
#research_teams_meta .inner-settings-box .uk-width-1-2 p:last-child,
#company_meta .inner-settings-box .uk-width-1-2 p:last-child {
    margin: 0 0 25px;
}
#phd_opening_meta .inner-settings-box p label,
#phd_opening_meta .inner-settings-box-right p label,
#phd_template_meta .inner-settings-box p label,
#phd_template_meta .inner-settings-box-right p label,
#institution_meta .inner-settings-box p label,
#institution_meta .inner-settings-box-right p label,
#faculty_meta .inner-settings-box p label,
#faculty_meta .inner-settings-box-right p label,
#phd_program_meta .inner-settings-box p label,
#phd_program_meta .inner-settings-box-right p label,
#cooperation_calls_meta .inner-settings-box p label,
#cooperation_calls_meta .inner-settings-box-right p label,
#research_teams_meta .inner-settings-box p label,
#research_teams_meta .inner-settings-box-right p label,
#company_meta .inner-settings-box p label,
#company_meta .inner-settings-box-right p label {
    color: #888;
    display: block;
    padding: 0 0 6px;
}
#phd_opening_meta .inner-settings-box input,
#phd_template_meta .inner-settings-box input,
#institution_meta .inner-settings-box input,
#faculty_meta .inner-settings-box input,
#phd_program_meta .inner-settings-box input,
#cooperation_calls_meta .inner-settings-box input,
#research_teams_meta .inner-settings-box input,
#company_meta .inner-settings-box input {
    border: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    font-size: 15px;
    outline: none;
    transition: all .4s ease;
    width: 100%;
}
#phd_opening_meta .inner-settings-box input:focus,
#phd_template_meta .inner-settings-box input:focus,
#institution_meta .inner-settings-box input:focus,
#faculty_meta .inner-settings-box input:focus,
#phd_program_meta .inner-settings-box input:focus,
#cooperation_calls_meta .inner-settings-box input:focus,
#research_teams_meta .inner-settings-box input:focus,
#company_meta .inner-settings-box input:focus {
    border-bottom: 1px solid #3590d8;
    transition: all .4s ease;
}
#institution_meta .inner-settings-box label input[type="button"], 
#faculty_meta .inner-settings-box label input[type="button"], 
#research_teams_meta .inner-settings-box label input[type="button"], 
#company_meta .inner-settings-box label input[type="button"] {
    background: #585858;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    margin: 10px 0 0;
    padding: 3px 13px;
    height: auto;
    transition: all .4s ease;
    width: auto;
}
#institution_meta .inner-settings-box label input[type="button"]:hover, 
#faculty_meta .inner-settings-box label input[type="button"]:hover, 
#research_teams_meta .inner-settings-box label input[type="button"]:hover, 
#company_meta .inner-settings-box label input[type="button"]:hover {
    background: #3590d8;
    transition: all .4s ease;
}
#phd_opening_meta .inner-settings-box textarea,
#phd_template_meta .inner-settings-box textarea,
#institution_meta .inner-settings-box textarea,
#faculty_meta .inner-settings-box textarea,
#phd_program_meta .inner-settings-box textarea,
#cooperation_calls_meta .inner-settings-box textarea,
#research_teams_meta .inner-settings-box textarea,
#company_meta .inner-settings-box textarea {
    box-shadow: none;
    font-size: 15px;
    transition: all .4s ease;
    width: 100%;
}
#phd_opening_meta .inner-settings-box textarea:focus,
#phd_template_meta .inner-settings-box textarea:focus,
#institution_meta .inner-settings-box textarea:focus,
#faculty_meta .inner-settings-box textarea:focus,
#phd_program_meta .inner-settings-box textarea:focus,
#cooperation_calls_meta .inner-settings-box textarea:focus,
#research_teams_meta .inner-settings-box textarea:focus,
#company_meta .inner-settings-box textarea:focus {
    border: 1px solid #3590d8;
    transition: all .4s ease;
}
#phd_opening_meta select,
#phd_template_meta select,
#institution_meta select,
#faculty_meta select,
#phd_program_meta select,
#cooperation_calls_meta select,
#research_teams_meta select,
#company_meta select {
    border: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    font-size: 15px;
    width: 100%;
}
#phd_opening_meta .inner-settings-box-right p,
#phd_template_meta .inner-settings-box-right p,
#institution_meta .inner-settings-box-right p,
#faculty_meta .inner-settings-box-right p,
#phd_program_meta .inner-settings-box-right p,
#cooperation_calls_meta .inner-settings-box-right p,
#research_teams_meta .inner-settings-box-right p,
#company_meta .inner-settings-box-right p {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    margin: 0 0 20px;
    padding: 10px 20px 5px;
}
#phd_opening_meta .inner-settings-box-right .wp-editor-wrap,
#phd_template_meta .inner-settings-box-right .wp-editor-wrap,
#institution_meta .inner-settings-box-right .wp-editor-wrap,
#faculty_meta .inner-settings-box-right .wp-editor-wrap,
#phd_program_meta .inner-settings-box-right .wp-editor-wrap,
#cooperation_calls_meta .inner-settings-box-right .wp-editor-wrap,
#research_teams_meta .inner-settings-box-right .wp-editor-wrap,
#company_meta .inner-settings-box-right .wp-editor-wrap {
    margin: 0 0 40px;
}



/* User Profile Page */
#your-profile .user-rich-editing-wrap, 
#your-profile .user-syntax-highlighting-wrap, 
#your-profile .user-admin-color-wrap, 
#your-profile .user-comment-shortcuts-wrap {
    display:  none;
}
#your-profile h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 50px 0 15px;
}
#your-profile h2:nth-child(4) {
    margin: 20px 0 15px;
}
#your-profile .form-table {
    background: #fff;
}
#your-profile .form-table th {
    padding: 20px;
}



/* Fields of Science List */
#fields-of-science {
	width: 80%;
}
#fields-of-science .children-fos {
	margin: 0 0 0 25px !important;
}
#fields-of-science .children-fos li {
	padding: 0 !important;
}
#fields-of-science .checkbox-row {
    font-size: 15px;
    display:  block;
    margin: 0 0 10px;
}
#fields-of-science .checkbox-row input[type="checkbox"] {
	margin: 0 8px 0 0;
}
#fields-of-science .fields-of-science-list {
    border: 1px solid #e8e8e8;
    margin: 10px 0 40px;
    height: 400px;
    overflow-y: scroll;
}
#fields-of-science .fields-of-science-list > * {
    padding: 0;
}
#fields-of-science .fields-of-science-list .uk-width-1-2:first-child {
    border-right: 1px solid #f0f0f0;
}
#fields-of-science .fields-of-science-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#fields-of-science .fields-of-science-list ul li {
    padding: 20px;
}
#fields-of-science .fields-of-science-list .uk-width-1-2:first-child ul li {
	background: #fff;
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
	margin: 0;
    padding: 10px 20px;
	transition: all .4s ease;
}
#fields-of-science .fields-of-science-list .uk-width-1-2:first-child ul li.uk-active {
	background: #fbfbfb;
	transition: all .4s ease;
}
#fields-of-science .fields-of-science-list .uk-width-1-2:first-child ul li a {
    color: #323232;
    display: block;
    text-decoration: none;
    transition: all .4s ease;
}
#fields-of-science .fields-of-science-list .uk-width-1-2:first-child ul li a:hover,
#fields-of-science .fields-of-science-list .uk-width-1-2:first-child ul li.uk-active a {
    color: #318fe8;
    transition: all .4s ease;
}
.research-areas-list {
    height: 300px;
    border: 1px solid #f0f0f0;
    margin: 10px 0 30px;
    padding: 20px;
    overflow-y: scroll;
}
.research-areas-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.research-areas-list ul .checkbox-row {
	font-size: 14px;
}

#phdhub-cpt-nav {
    background: #318fe8;
    border-radius: 2px;
    padding: 15px 10px;
}
#phdhub-cpt-nav li {
    display: inline-block;
    margin: 0 20px 2px 10px;
    position: relative;
}
#phdhub-cpt-nav li.uk-active:after {
    border-bottom: 8px solid #f1f1f1;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -17px;
    content: '';
    left: 0;
    position: absolute;
}
#phdhub-cpt-nav li a {
    box-shadow: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    outline: none !important;
    text-decoration: none;
    transition: all .4s ease;
}
#phdhub-cpt-nav li a:hover,
#phdhub-cpt-nav li.uk-active a {
    color: #fff;
    transition: all .4s ease;
}
#phd_opening_meta .hndle {
    display: none;
}

#useful_info_meta .hndle,
#useful_info_meta .handlediv {
    display: none;
}
#useful_info_meta {
    background: transparent;
    border: 0;
    box-shadow: none;
    margin: 50px 0;
}
#useful_info_meta .inside .info-nav li {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    margin: 0 5px 0 0;
    padding: 10px 15px;
}
#useful_info_meta .inside .info-nav li a {
    box-shadow: none;
    color: #555;
    outline: none;
    text-decoration: none;
}
#useful_info_meta .inside .info-nav li.uk-active {
    background: #318fe8;
}
#useful_info_meta .inside .info-nav li.uk-active a {
    color: #fff;
}
#useful_info_meta .inside .useful-info-section {
    background: #fff;
    border: 1px solid #eee;
    margin: 20px 0;
    padding: 20px;
}
#useful_info_meta .inside .useful-info-section p label {
    border-bottom: 1px solid #eee;
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin: -10px 0 20px;
    padding: 0 0 8px;
}
