/*
 * CSS Code for PhDHub CPTs
 *
 * ======= Contents =======
 * 1. General CSS
 * 2. Institutions CPT
 * 3. PhD Openings CPT
 * 4. Faculties CPT
 * 5. PhD Programs CPT
 * 6. Research Teams CPT
 * 7. Companies CPT
 * 8. Calls for Cooperation CPT
 * 9. Category / Archive Pages
 * *. Widgets
 */


/* ==== 1. General CSS ==== */
.phdhub-form-sc {
    margin-bottom: 0 !important;
}
.phdhub-form-sc .submit-button {
    background: #435d7c;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    float: right;
    font-size: 15px;
    font-weight: 300;
    height: auto;
    line-height: normal;
    margin: 30px 0 0;
    padding: 15px 30px;
    transition: all .4s ease;
}
.phdhub-form-sc .submit-button:hover {
    background: #c56e43;
    cursor: pointer;
    transition: all .4s ease;
}

.offers-filters {
    text-align: right;
}
.offers-filters a {
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    color: #435d7c !important;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    margin-top: -12px !important;
    margin-bottom: -100px !important;
    padding: 8px 15px;
    text-decoration: none;
    transition: all .4s ease;
}
.offers-filters a:hover {
    color: #c56e43 !important;
    transition: all .4s ease;
}
.offers-filters a:first-child {
    border-radius: 2px;
    margin: 0 -2px 0 0;
}
.offers-filters .current-offers-page {
    background: #435d7c;
    border: 0;
    box-shadow: 0 2px 3px #ddd;
    color: #fff !important;
}
.success-notice {
    background: #3fce6d;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 300;
    padding: 10px 20px;
    color: #fff;
}
.warning-notice {
    background: #ce3f49;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 300;
    padding: 10px 20px;
    color: #fff;
}
#phdhub-cpt-main a {
	color: #249cca;
	transition: all .4s ease;
}
#phdhub-cpt-main a:hover {
	color: #2072b9;
	transition: all .4s ease;
}

#partner-filters li {
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 300;
    margin: 0 10px;
    padding: 8px 15px;
}
#partner-filters li a {
    color: #626262;
    outline: none;
    text-decoration: none;
    transition: all .4s ease;
}
#partner-filters li a:hover {
    color: #318fe8;
    transition: all .4s ease;
}
#partner-filters li.uk-active {
    background: #425c7d;
}
#partner-filters li.uk-active a {
    color: #fff;
}

/* Favorites */
.simplefavorite-button {
    background: #ccc !important;
    border-radius: 50px !important;
    box-shadow: 0 2px 3px #ddd;
    text-indent: -9999px;
    float: right;
    margin-top: -50px;
    padding: 5px 0px !important;
    height: 30px;
    width: 30px;
    text-align: center !important;
}
.simplefavorite-button.active {
    background: #318fe8 !important;
}
.simplefavorite-button i {
    color: #fff !important;
    text-indent: 0;
    width: 19px;
}
.simplefavorite-button.active i {
    color:  #fff !important;
    text-indent: 0; 
    width: 19px;
}



/* ==== 2. Institutions CPT ==== */
#institution-content .container {
    max-width: 1180px;
    margin: 100px auto;
}
#institution-content figure {
	height: 700px;
	width: 100%;
}
#institution-content figure img {
	height: 700px;
	object-fit: cover;
	width: 100%;
}
#institution-content figcaption .container {
    width: 100%;
    margin: 60px auto;
}
#institution-content .institution-image,
#institution-content .institution-details-right {
    display: inline-block;
    margin: 0 20px 0 0;
}
#institution-content .institution-image img {
    height: 82px;
    width: 82px;
    object-fit: cover;
}
#institution-content .institution-columns {
	margin: 0;
}
#institution-content .institution-details {
    padding: 0;
}
#institution-content .institution-name {
    font-size: 30px;
    font-weight: 400;
    margin:  0;
}
#institution-content .location,
#institution-content .website {
	color: rgba(255, 255, 255, 0.85);
	font-size: 14px;
	font-weight: 400;
	margin: 5px 0 0;
}
#institution-content .location i,
#institution-content .website i {
	width: 20px;
}
#institution-content .website a {
	color: rgba(255, 255, 255, 0.85);
	position: relative;
	transition: all .6s ease;
}
#institution-content .website a:hover {
	color: #fff;
	transition: all .6s ease;
}
#institution-content .website a:after {
	background: transparent;
	bottom: -5px;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	transition: all .6s ease;
	width: 0;
}
#institution-content .website a:hover:after {
	background: #fff;
	transition: all .6s ease;
	width: 100%;
}
#institution-content .institution-info p {
	font-size: 15px;
	margin: 0 0 25px;
}
#institution-content .institution-details p {
	border-bottom: 1px solid #e6e6e6;
	color:  #323232;
	display:  block;
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 14px;
	padding: 0 0 14px;
}
#institution-content .institution-statistics {
	background: #ffffff;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	font-size: 30px;
	font-weight: 300;
	margin: 0 0 100px;
	padding: 80px 0;
	text-align: center;
}
#institution-content .institution-statistics span {
	display: block;
	color: #888;
	font-size: 14px;
	font-weight: 400;
}
#institution-content .institution-statistics i {
	color: rgba(39,144,163,1);
	display: block;
	font-size: 50px;
	margin: 0 0 30px;
}
#institution-content .institution-statistics .container {
	max-width: 1180px;
	margin: 0 auto;
}
#institution-content .institution-faculties .container,
#faculty-content .institution-faculties .container {
	max-width: 1180px;
	margin: 0 auto 80px;
	position: relative;
}
#institution-content .institution-faculties .uk-slidenav-previous,
#faculty-content .institution-faculties .uk-slidenav-previous {
	color: #323232;
	position: absolute;
	left: -100px;
	top: 140px;
	font-size: 50px;
	transition: all .4s ease;
}
#institution-content .institution-faculties .uk-slidenav-next,
#faculty-content .institution-faculties .uk-slidenav-next {
	color: #323232;
	position: absolute;
	right: -100px;
	top: 140px;
	font-size: 50px;
	transition: all .4s ease;
}
#institution-content .institution-faculties .uk-slidenav,
#faculty-content .institution-faculties .uk-slidenav {
	display: none;
}
#institution-content .institution-faculties:hover .uk-slidenav,
#faculty-content .institution-faculties:hover .uk-slidenav {
	display: inline-block;
}
#institution-content .institution-faculties .uk-slidenav:hover,
#faculty-content .institution-faculties .uk-slidenav:hover {
	color: #318fe8;
	transition: all .4s ease;
}
#institution-content .institution-faculties .uk-width-1-5 p,
#faculty-content .institution-faculties .uk-width-1-5 p {
	box-shadow: 0 2px 3px #eee;
}
#institution-content .institution-faculties h3,
#faculty-content .institution-faculties h3 {
	font-size: 22px;
	font-weight: 300;
}
#institution-content .institution-faculties img,
#faculty-content .institution-faculties img {
	width: 100%;
	height: 170px;
	object-fit: cover;
	border-radius: 2px 2px 0 0;
}
#institution-content .institution-faculties span,
#faculty-content .institution-faculties span {
	display: block;
	background: #fff;
	box-shadow: 0 2px 3px #eee;
	padding: 8px 10px;
	border-radius: 0 0 2px 2px;
	margin: -6px 0 0;
}
#institution-content .institution-details p span,
#faculty-content .institution-faculties p span {
    color:  #727272;
    display:  block;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 2px;
}
#institution-content .institution-details .contact-info {
	font-size: 15px;
	font-weight: 400;
}
#institution-content .institution-details .contact-info p {
	border: 0;
	margin: 0;
}
#institution-content .institution-details .contact-info p:first-child {
	margin-bottom: 0;
	padding: 0;
}
#institution-content .about-institution h3 {
	border-bottom: 1px solid #e6e6e6;
	font-size: 16px;
	font-weight: 400;
	margin: 50px 0 20px;
	padding: 0 0 6px;
}
#institution-content .about-institution h3:first-child {
	margin: 0 0 20px;
}
#institution-content .about-institution .institution-info {
	font-size: 14px;
	font-weight: 400;
}
#institution-content .about-institution .institution-info p {
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 18px;
}
#institution-content a {
	font-size: 14px;
	text-decoration: none;
}
#institution-content .all-offers {
	float: right;
	margin: -3px 0 0;
}
#institution-content .institution-offer-rows {
	margin: 0 -40px 0 35px;
}
#institution-content .institution-offer {
	background: #fff;
	border-radius: 2px;
	padding: 10px;
	margin: 0 0 15px;
}
#institution-content .institution-offer:last-child {
	margin: 0;
}
#institution-content .institution-offer h5 {
	margin: 0;
}
#institution-content .institution-offer h5 a {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	transition: all .4s ease;
}
#institution-content .institution-offer p {
	font-size: 12.5px;
	margin: 5px 0 0;
}
#institution-content .institution-faculties i {
	background: #249cca;
	border-radius: 50px;
	box-shadow: 0 2px 3px #ddd;
	color: #fff;
	font-size: 12px;
	margin: 0 7px 0 0;
	padding: 6px 0;
	width: 25px;
	height: 25px;
	text-align: center;
}
#institution-content .institution-columns .container {
	border-bottom: 1px solid #f0f0f0;
	padding: 0 0 80px;
}
#institution-content .institution-columns .uk-width-7-10 {
	padding: 0 5px 0 0;
}
#institution-content .institution-columns .institution-info {
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 3px #eee;
	padding: 25px 25px 5px;
}
#institution-content .institution-columns .institution-info p {
	font-size: 14px;
	line-height: 26px;
}
#institution-content .institution-columns h3 {
	font-size: 22px;
	font-weight: 300;
	margin: 0 0 25px;
}
#institution-content .institution-columns .institution-phd-programs p {
	margin: 0 0 10px;
}
#institution-content .institution-offer h5 a {
	display: block;
	font-size: 15px;
	font-weight: 400;
	margin: 4px 0 0;
}
#institution-content .institution-offer .uk-grid {
    margin: 0;
}
#institution-content .institution-offer .uk-width-1-10 {
    padding: 0;
}
#institution-content .institution-offer .uk-width-9-10 {
	border-left: 1px solid #f9f9f9;
	padding: 0 10px 0 20px;
	margin: 0 -15px 0 15px;
}
#institution-content .institution-offer .offer-date {
    text-align: center;
}
#institution-content .institution-offer .day {
    color: #5f9bce;
    display: block;
    font-size: 26px;
    font-weight: 300;
    margin: 0;
}
#institution-content .institution-offer .month-year {
    color: #888;
    display: block;
    font-size: 10px;
    padding: 0 0 10px;
}
#institution-content .contact-info {
    background:  #fff;
    box-shadow:  0 0 3px #eee;
    margin: 35px 0 0;
    padding: 20px;
}
#institution-content .contact-info span {
	display: block;
	font-size: 13px;
	margin: 0 0 2px;
}
#institution-content .contact-info p {
    font-size: 13px;
    margin: 20px 0 12px;
}
#institution-content .contact-info p:first-child {
	margin: 0 0 12px;
}
#institution-content .contact-info p:last-child {
    margin: 0;
}
#institution-content .contact-info p span {
    color: #9d9d9d;
    display: block;
    text-transform: uppercase;
}



/* ==== 3. PhD Openings CPT ==== */
.about-phd-offer .views,
.about-call .views {
    border-bottom: 1px solid #f0f0f0;
    color: #727272;
    display: block;
    font-size: 13px;
    margin: -25px -25px 20px;
    padding: 15px 20px;
}
.about-phd-offer .views i,
.about-call .views i {
    margin-right: 8px;
}
#phd-offer-content a {
	text-decoration: none;
}
#phd-offer-content .container {
    max-width: 1180px;
    margin: 100px auto;
}
#phd-offer-content .phd-offer-columns {
	margin: 0;
}
#phd-offer-content .uk-width-2-10 {
	padding: 0;
}
#phd-offer-content .uk-width-8-10 {
	padding: 0 0 0 80px;
}
#phd-offer-content .phd-offer-institution p {
    font-size: 14px;
    margin: 0;
    padding: 0 0 18px;
}
#phd-offer-content .phd-offer-institution p:last-child {
	padding: 0;
}
#phd-offer-content .phd-offer-institution .apply-btn {
	background: #318fe8;
	border-top: 1px solid #f0f0f0;
	border-radius: 0 0 2px 2px;
	color: #fff;
	padding: 20px 15px !important;
	margin: 20px -20px -20px;
	text-align: center;
	font-size: 13px !important;
}
#phd-offer-content .phd-offer-institution p span {
    color: #888;
    display: block;
    font-size: 13px;
}
#phd-offer-content .phd-offer-institution h3 {
	border-top: 1px solid #e8e8e8;
	font-size: 16px;
	font-weight: 400;
    margin: 25px 0 20px;
    padding: 35px 0 0;
}
#phd-offer-content .phd-offer-institution .wp-post-image {
	margin: 0 0 20px;
}
#phd-offer-content .phd-offer-title {
	font-size: 24px;
	font-weight: 400;
	margin: 0 0 20px;
	width: 90%;
}
#phd-offer-content .uk-width-7-10 {
	padding: 0;
}
#phd-offer-content .offer-info {
	background: #fff;
	box-shadow: 0 2px 3px #eee;
	padding: 25px;
}
#phd-offer-content .offer-info iframe {
	width: 100%;
}
#phd-offer-content .fields-of-science {
	border-top: 1px solid #f0f0f0;
	margin: 30px 0 0;
	padding: 15px 0 0;
}
#phd-offer-content .fields-of-science p {
	color: #888;
	font-size: 13px;
	font-weight: 300;
	margin: 0;
}
#phd-offer-content .fields-of-science ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#phd-offer-content .fields-of-science ul li {
	display: inline-block;
	font-size: 14px;
	margin: 0 20px 0 0;
}
#phd-offer-content .fields-of-science .uk-width-1-2:first-child ul li {
	display: block;
	margin: 0 0 8px 0;
}
#phd-offer-content .fields-of-science .uk-width-1-2:first-child ul li:last-child {
	margin: 0;
}
#phd-offer-content .more-phd-offers .phd-offer-row h5 {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    text-transform:  capitalize;
}
#phd-offer-content .more-phd-offers .phd-offer-row .phd-offer-date {
	color: #888;
	font-size: 11px;
	font-style: italic;
	margin: 0 0 8px;
}
#phd-offer-content .more-phd-offers .phd-offer-row p {
    font-size: 13px;
    margin: 0;
    padding: 0;
}
#phd-offer-content .more-phd-offers .phd-offer-row {
    border-bottom: 1px solid #e8e8e8;
    margin: 0 0 15px;
    padding: 0 0 15px;
}
#phd-offer-content .more-phd-offers .phd-offer-row:last-child {
    border-bottom: 0;
    margin: 0;
    padding: 0;
}
#phd-offer-content .phd-offer-info-box {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 3px #eee;
    color: #131313;
    font-size: 14px;
    margin: 0 0 35px;
    padding: 20px;
}
#phd-offer-content .phd-offer-info-box .uk-grid .uk-grid:first-child {
	margin-bottom: 25px;
}
#phd-offer-content .phd-offer-info-box .uk-grid .uk-grid:last-child {
	margin-top: 25px;
}
#phd-offer-content .phd-offer-info-box span {
    color: #979797;
    display: block;
    font-size: 13px;
    margin: 0 0 2px;
}
#phd-offer-content .phd-offer-info-box .research-field {
    color: #323232;
    display: inline-block;
    font-size: 14px;
    margin: 0 16px 0 0;
}
#phd-offer-content .phd-offer-info-box .uk-width-7-10 {
    border-right: 1px solid #e8e8e8;
}
#phd-offer-content .phd-offer-info-box .uk-width-3-10 {
    padding: 20px 5px 0 25px;
    text-align: center;
}
#phd-offer-content .phd-offer-info-box .apply-btn {
    font-size: 13px;
}
#phd-offer-content .phd-offer-info-box .apply-btn a {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size:  14px;
    margin:  20px 0 0;
    padding: 10px 25px;
    transition: all .4s ease;
    width:  80%;
}
#phd-offer-content .phd-offer-info-box .apply-btn a:hover {
	background: #fff;
	color: #318fe8;
	transition: all .4s ease;
}
#phd-offer-content .phd-offer-info-box .social-share {
    border-top:  1px solid #ddd;
    font-size:  13px;
    margin: 22px 0 0;
    padding: 18px 0 0;
}
#phd-offer-content .phd-offer-info p {
    font-size:  14px;
}
#phd-offer-content .phd-offer-info {
    margin: 0 0 50px;
}
#phd-offer-content .phd-offer-other-info {
	font-size: 14px;
}
#phd-offer-content .phd-offer-skills h3 {
    border-bottom: 1px solid #f0f0f0;
    color: #318fe8;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 5px;
}
#phd-offer-content .phd-offer-other-info h3 {
    border-bottom: 1px solid #f0f0f0;
    color: #318fe8;
    font-size: 18px;
    font-weight: 400;
    margin: 50px 0 0;
    padding: 0 0 5px;
}
#phd-offer-content .phd-offer-skills .skills-required {
	font-size: 14px;
	margin: 0;
}
#phd-offer-content .phd-offer-skills .skills-required li {
	margin: 0 0 8px;
}
#phd-offer-content .phd-offer-skills .skills-required li:last-child {
	margin: 0;
}
#phd-offer-content .phd-offer-skills p,
#phd-offer-content .phd-offer-other-info p {
    font-size: 14px;
}
#phd-offer-content .phd-offer-other-info h4 {
	font-size: 15px;
	font-weight: 400;
	margin: 30px 0 10px;
}
#phd-offer-content .share-offer {
	background: #fcfcfc;
	border-top: 1px solid #f0f0f0;
	border-radius: 0 0 2px 2px;
	margin: 40px -25px -25px;
	padding: 25px;
}
#phd-offer-content .share-offer p {
	font-size: 14px;
	margin: 0 0 15px;
}
#phd-offer-content .institution-columns h3 {
	font-size: 22px;
	font-weight: 300;
}
#phd-offer-content .institution-columns h3 .all-offers {
	float: right;
	font-size: 14px;
	font-weight: 400;
	margin: 5px 0 0;
}
.institution-columns .cooperation-calls {
    margin: 40px 0 0;
}
.institution-columns .cooperation-calls .call-info span {
    display: block;
    margin: 0 0 8px;
}
.institution-columns .cooperation-calls .call-info span:last-child {
    margin: 0;
}
.institution-columns .cooperation-calls .call-info span a {
    display: inline-block !important;
    vertical-align: top;
}
.institution-columns .cooperation-calls .call-info span a:last-child,
.latest-offers-three-col-grid .phd-opening-info a:last-child {
    color: #555 !important;
    display: inline-block;
    font-size: 13px !important;
    margin: 0 0 0 10px !important;
    text-decoration: none;
    transition: all .4s ease;
}
.institution-columns .cooperation-calls .call-info img {
    height: 35px;
    object-fit: contain;
    vertical-align: top;
    width: 35px;
}
.institution-columns .cooperation-calls .call-info a span,
.institution-columns .phd-opening-info a span {
    color: #888;
    display: block;
    font-size: 12px;
}



/* ==== 4. Faculties CPT ==== */
#faculty-content .container {
    max-width: 1180px;
    margin: 100px auto;
}
#faculty-content figure {
	height: 650px;
}
#faculty-content figure img {
	height: 650px;
	object-fit: cover;
}
#faculty-content figcaption .container {
    width: 1180px;
    margin: 60px auto;
}
#faculty-content .faculty-info {
	background: #fff;
	box-shadow: 0 2px 3px #eee;
	padding: 25px;
}
#faculty-content .faculty-columns {
	margin: 0;
}
#faculty-content .faculty-name {
    font-size: 30px;
    font-weight: 400;
    margin:  0;
}
#faculty-content .faculty-institution,
#faculty-content .website {
	color: rgba(255, 255, 255, 0.85);
	font-size: 14px;
	font-weight: 400;
	margin: 8px 0;
}
#faculty-content .faculty-institution i,
#faculty-content .website i {
	width: 25px;
}
#faculty-content .faculty-institution a,
#faculty-content .website a {
	color: rgba(255, 255, 255, 0.85);
	position: relative;
	transition: all .6s ease;
}
#faculty-content .faculty-institution a:hover,
#faculty-content .website a:hover {
	color: #fff;
	transition: all .6s ease;
}
#faculty-content .faculty-institution a:after,
#faculty-content .website a:after {
	background: transparent;
	bottom: -5px;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	transition: all .6s ease;
	width: 0;
}
#faculty-content .faculty-institution a:hover:after,
#faculty-content .website a:hover:after {
	background: #fff;
	transition: all .6s ease;
	width: 100%;
}
#faculty-content .uk-width-3-10 {
	padding: 0;
}
#faculty-content .uk-width-7-10 {
	padding: 0 30px 0 0;
}
#faculty-content .faculty-details .faculty-name {
    font-size:  18px;
    font-weight:  400;
    margin: 0 0 20px;
}
#faculty-content .faculty-details p {
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
    margin: 0 0 10px;
    padding: 0 0 10px;
}
#faculty-content .faculty-details p span {
	color: #727272;
    display: block;
    font-size: 13px;
}
#faculty-content .faculty-details p:last-child {
    border-bottom: 0;
    margin: 0;
    padding: 0;
}
#faculty-content .faculty-details .contact-info p {
	border-bottom: 0;
	color: #323232;
	margin: 0 0 10px;
}
#faculty-content .faculty-details .contact-info p:first-child {
	border-bottom: 0;
	margin: 0;
	padding: 0;
}
#faculty-content .about-faculty h3 {
    border-bottom: 1px solid #e8e8e8;
    font-size:  18px;
    font-weight:  400;
    margin: 0 0 15px;
    padding: 0 0 6px;
}
#faculty-content .about-faculty .uk-grid {
    margin-bottom: 50px;
    margin-top: 50px;
}
#faculty-content .about-faculty p {
    font-size: 14px;
    margin: 0 0 20px;
}
#faculty-content .about-faculty p:last-child {
	margin: 0;
}
#faculty-content a {
	font-size: 14px;
	text-decoration: none;
}
#faculty-content .contact-info {
    background:  #fff;
    box-shadow: 0 2px 3px #eee;
    margin: 0;
    padding: 20px;
}
#faculty-content .contact-info p {
    font-size: 13px;
    margin: 20px 0 12px;
}
#faculty-content .contact-info p:first-child {
	margin: 0 0 12px;
}
#faculty-content .contact-info p:last-child {
    margin: 0;
}
#faculty-content .contact-info p span {
    color: #9d9d9d;
    display: block;
    text-transform: uppercase;
}
#faculty-content .contact-info span {
	display: block;
	font-size: 13px;
	margin: 0 0 5px;
}
#faculty-content .faculty-statistics {
	background: #fff;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	font-size: 30px;
	font-weight: 300;
	margin: 0 0 100px;
	padding: 80px 0;
	text-align: center;
}
#faculty-content .faculty-statistics span {
	display: block;
	color: #888;
	font-size: 14px;
	font-weight: 400;
}
#faculty-content .faculty-statistics i {
	color: rgba(39,144,163,1);
	display: block;
	font-size: 50px;
	margin: 0 0 30px;
}
#faculty-content .faculty-statistics .container {
	max-width: 1180px;
	margin: 0 auto;
}
#faculty-content .faculty-offer h5 {
	margin: 5px 0 0;
}
#faculty-content .faculty-offer h5 a {
	display: block;
	font-size: 15px;
	font-weight: 400;
	margin: 4px 0 0;
}
#faculty-content .faculty-offer p {
	font-size: 12.5px;
	margin: 5px 0 0;
}
#faculty-content .faculty-offer .uk-grid {
    margin: 0;
}
#faculty-content .faculty-offer .uk-width-1-10 {
    padding: 0;
}
#faculty-content .faculty-offer .offer-date {
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    text-align: center;
}
#faculty-content .faculty-offer .day {
    color: #5f9bce;
    display: block;
    font-size: 26px;
    font-weight: 300;
    margin: 2px 0 0;
}
#faculty-content .faculty-offer .month-year {
    color: #888;
    display: block;
    font-size: 10px;
    margin: 0 0 6px;
}
#faculty-content .programs-teams h3 {
    font-size: 22px;
    font-weight: 300;
    margin:  0 0 25px;
}
#faculty-content .programs-teams p {
    margin: 8px 0;
}
#faculty-content .faculty-offers h3 {
	font-size: 22px;
	font-weight: 300;
}
#faculty-content .faculty-offers .all-offers {
	float: right;
	margin: -3px 0 0;
}
#faculty-content .faculty-offers .container {
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 50px;
	padding-bottom: 40px;
}
#faculty-content .faculty-offers p a {
	font-size: 13px;
}



/* ==== 5. PhD Programs CPT ==== */
#phd-program-content .container {
    max-width: 1180px;
    margin:  100px auto;
}
#phd-program-content figure {
	height: 700px;
	width: 100%;
}
#phd-program-content figure img {
	height: 700px;
	object-fit: cover;
	width: 100%;
}
#phd-program-content figcaption .container {
    width: 1180px;
    margin: 60px auto;
}
#phd-program-content .phd-program-name {
    font-size: 30px;
    font-weight: 400;
    margin:  0;
}
#phd-program-content .faculty-institution,
#phd-program-content .phd-program-faculty,
#phd-program-content .website {
	color: rgba(255, 255, 255, 0.85);
	font-size: 14px;
	font-weight: 400;
	margin: 8px 0;
}
#phd-program-content .faculty-institution i,
#phd-program-content .phd-program-faculty i,
#phd-program-content .website i {
	width: 25px;
}
#phd-program-content .faculty-institution a,
#phd-program-content .phd-program-faculty a,
#phd-program-content .website a {
	color: rgba(255, 255, 255, 0.85);
	position: relative;
	transition: all .6s ease;
}
#phd-program-content .faculty-institution a:hover,
#phd-program-content .phd-program-faculty a:hover,
#phd-program-content .website a:hover {
	color: #fff;
	transition: all .6s ease;
}
#phd-program-content .faculty-institution a:after,
#phd-program-content .phd-program-faculty a:after,
#phd-program-content .website a:after {
	background: transparent;
	bottom: -5px;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	transition: all .6s ease;
	width: 0;
}
#phd-program-content .faculty-institution a:hover:after,
#phd-program-content .phd-program-faculty a:hover:after,
#phd-program-content .website a:hover:after {
	background: #fff;
	transition: all .6s ease;
	width: 100%;
}
#phd-program-content .phd-program-columns {
	margin: 0;
}
#phd-program-content .uk-width-2-10 {
	padding: 0;
}
#phd-program-content .uk-width-8-10 {
	padding: 0 0 0 80px;
}
#phd-program-content .phd-program-details .phd-program-name {
    font-size:  18px;
    font-weight:  400;
    margin: 0 0 20px;
}
#phd-program-content .phd-program-details p {
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
    margin: 0 0 10px;
    padding: 0 0 10px;
}
#phd-program-content .phd-program-details p span {
	color: #727272;
    display: block;
    font-size: 13px;
}
#phd-program-content .phd-program-details p:last-child {
    border-bottom: 0;
    margin: 0;
    padding: 0;
}
#phd-program-content .about-phd-program h3 {
    border-bottom: 1px solid #e8e8e8;
    font-size:  18px;
    font-weight:  400;
    margin: 0 0 15px;
    padding: 0 0 6px;
}
#phd-program-content .about-phd-program .uk-grid {
    margin-bottom: 50px;
    margin-top: 50px;
}
#phd-program-content .about-phd-program p {
    font-size: 14px;
    margin: 0 0 20px;
}
#phd-program-content .about-phd-program p:last-child {
	margin: 0;
}
#phd-program-content a {
	text-decoration: none;
}
#phd-program-content .uk-grid {
	margin: 0;
}
#phd-program-content .uk-width-1-2 {
	padding: 0 50px 0 0;
}
#phd-program-content .uk-width-1-2:last-child {
	padding: 0 0 0 50px;
}
#phd-program-content .phd-program-openings {
    margin: 0;
}
#phd-program-content .phd-program-openings h3 {
	font-size: 22px;
	font-weight: 300;
	margin: 0 0 25px;
}
#phd-program-content .phd-program-openings h3 .all-offers {
    float: right;
    font-size: 14px;
    display: inline-block;
    margin: 5px 0 0;
}
#phd-program-content .institution-offer h5 {
	margin: 0;
}
#phd-program-content .institution-offer h5 a {
	display: block;
	font-size: 15px;
	font-weight: 400;
	margin: 4px 0 0;
}
#phd-program-content .institution-offer p {
	font-size: 12.5px;
	margin: 5px 0 0;
}
#phd-program-content .institution-offer .uk-grid {
    margin: 0;
}
#phd-program-content .institution-offer .uk-width-1-10 {
    padding: 0;
}
#phd-program-content .institution-offer .offer-date {
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    text-align: center;
}
#phd-program-content .institution-offer .day {
    color: #5f9bce;
    display: block;
    font-size: 26px;
    font-weight: 300;
    margin: 2px 0 0;
}
#phd-program-content .institution-offer .month-year {
    color: #888;
    display: block;
    font-size: 10px;
    margin: 0 0 6px;
}
#phd-program-content .container .uk-grid > * {
	padding: 0;
}
#phd-program-content .phd-program-info {
	background: #fff;
	box-shadow: 0 2px 3px #eee;
	margin: 0 0 80px;
	padding: 25px;
}


/* ==== 6. Research Teams CPT ==== */
#research-team-content .container {
    max-width: 1180px;
    margin:  100px auto;
}
#research-team-content figure {
	height: 700px;
	width: 100%;
}
#research-team-content figure img {
	height: 700px;
	object-fit: cover;
	width: 100%;
}
#research-team-content figcaption .container {
    width: 1180px;
    margin: 60px auto;
}
#research-team-content .team-name {
    font-size: 30px;
    font-weight: 400;
    margin:  0;
}
#research-team-content .team-institution,
#research-team-content .team-faculty,
#research-team-content .team-phd-program,
#research-team-content .website {
	color: rgba(255, 255, 255, 0.85);
	font-size: 14px;
	font-weight: 400;
	margin: 8px 0;
}
#research-team-content .team-institution i,
#research-team-content .team-faculty i,
#research-team-content .team-phd-program i,
#research-team-content .website i {
	width: 25px;
}
#research-team-content .team-institution a,
#research-team-content .team-faculty a,
#research-team-content .team-phd-program a,
#research-team-content .website a {
	color: rgba(255, 255, 255, 0.85);
	position: relative;
	transition: all .6s ease;
}
#research-team-content .team-institution a:hover,
#research-team-content .team-faculty a:hover,
#research-team-content .team-phd-program a:hover,
#research-team-content .website a:hover {
	color: #fff;
	transition: all .6s ease;
}
#research-team-content .team-institution a:after,
#research-team-content .team-faculty a:after,
#research-team-content .team-phd-program a:after,
#research-team-content .website a:after {
	background: transparent;
	bottom: -5px;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	transition: all .6s ease;
	width: 0;
}
#research-team-content .team-institution a:hover:after,
#research-team-content .team-faculty a:hover:after,
#research-team-content .team-phd-program a:hover:after,
#research-team-content .website a:hover:after {
	background: #fff;
	transition: all .6s ease;
	width: 100%;
}
#research-team-content .phd-program-columns {
	margin: 0;
}
#research-team-content .uk-width-2-10 {
	padding: 0;
}
#research-team-content .uk-width-8-10 {
	padding: 0 0 0 80px;
}
#research-team-content .team-details .team-name {
    font-size:  18px;
    font-weight:  400;
    margin: 0 0 20px;
}
#research-team-content .team-details p {
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
    margin: 0 0 10px;
    padding: 0 0 10px;
}
#research-team-content .team-details p span {
	color: #727272;
    display: block;
    font-size: 13px;
}
#research-team-content .team-details p:last-child {
    border-bottom: 0;
    margin: 0;
    padding: 0;
}
#research-team-content .about-research-team h3 {
    border-bottom: 1px solid #e8e8e8;
    font-size:  18px;
    font-weight:  400;
    margin: 0 0 15px;
    padding: 0 0 6px;
}
#research-team-content .about-research-team .uk-grid {
    margin-bottom: 50px;
    margin-top: 50px;
}
#research-team-content .about-research-team p {
    font-size: 14px;
    margin: 0 0 20px;
}
#research-team-content .about-research-team p:last-child {
	margin: 0;
}
#research-team-content .team-phd-openings {
    margin: 0;
}
#research-team-content .research-areas {
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	margin: 30px 0 0;
	padding: 20px 0;
}
#research-team-content .research-areas span {
    color: #727272;
    display: block;
    font-size: 12px;
    margin: 0 0 2px;
}
#research-team-content .research-areas .research-area {
    color: #323232;
    display: inline-block;
    font-size: 14px;
    margin: 0 16px 0 0;
}
#research-team-content a {
	text-decoration: none;
}
#research-team-content .uk-grid {
	margin: 0;
}
#research-team-content .uk-grid > * {
	padding: 0;
}
#research-team-content .team-info {
	background: #fff;
	box-shadow: 0 2px 3px #eee;
	margin: 0 0 80px;
	padding: 25px;
}
#research-team-content .team-phd-openings h3 {
	font-size: 22px;
	font-weight: 300;
	margin: 0 0 25px;
}
#research-team-content .team-phd-openings h3 .all-offers {
	float: right;
	font-size: 14px;
	display: inline-block;
	margin: 5px 0 0;
}
#research-team-content .institution-offer h5 {
	margin: 0;
}
#research-team-content .institution-offer h5 a {
	display: block;
	font-size: 15px;
	font-weight: 400;
	margin: 4px 0 0;
}
#research-team-content .institution-offer p {
	font-size: 12.5px;
	margin: 5px 0 0;
}
#research-team-content .institution-offer .uk-grid {
    margin: 0;
}
#research-team-content .institution-offer .uk-width-1-10 {
    padding: 0;
}
#research-team-content .institution-offer .offer-date {
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    text-align: center;
}
#research-team-content .institution-offer .day {
    color: #5f9bce;
    display: block;
    font-size: 26px;
    font-weight: 300;
    margin: 2px 0 0;
}
#research-team-content .institution-offer .month-year {
    color: #888;
    display: block;
    font-size: 10px;
    margin: 0 0 6px;
}




/* ==== 7. Companies CPT ==== */
#company-content .container {
    max-width: 1180px;
    margin:  100px auto;
}
#company-content figure {
	height: 700px;
	width: 100%;
}
#company-content figure img {
	height: 700px;
	object-fit: cover;
	width: 100%;
}
#company-content .company-image {
	display: inline-block;
	margin: 0 20px 0 0;
}
#company-content .company-image img {
	width: 82px;
	height: 82px;
	object-fit: contain;
}
#company-content .company-details-right {
	display: inline-block;
}
#company-content figcaption .container {
    width: 100%;
    margin: 60px auto;
}
#company-content .company-title {
    font-size: 30px;
    font-weight: 400;
    margin:  0;
}
#company-content .location,
#company-content .website {
	color: rgba(255, 255, 255, 0.85);
	font-size: 14px;
	font-weight: 400;
	margin: 8px 0;
}
#company-content .location i,
#company-content .website i {
	width: 25px;
}
#company-content .location a,
#company-content .website a {
	color: rgba(255, 255, 255, 0.85);
	position: relative;
	transition: all .6s ease;
}
#company-content .location a:hover,
#company-content .website a:hover {
	color: #fff;
	transition: all .6s ease;
}
#company-content .location a:after,
#company-content .website a:after {
	background: transparent;
	bottom: -5px;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	transition: all .6s ease;
	width: 0;
}
#company-content .team-institution a:hover:after,
#company-content .team-faculty a:hover:after,
#company-content .team-phd-program a:hover:after,
#company-content .website a:hover:after {
	background: #fff;
	transition: all .6s ease;
	width: 100%;
}
#company-content .company-details .company-title {
    font-size:  18px;
    font-weight:  400;
    margin: 0 0 20px;
}
#company-content .company-details p {
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
    margin: 0 0 10px;
    padding: 0 0 10px;
}
#company-content .contact-info {
	background: #fff;
	box-shadow: 0 2px 3px #eee;
}
#company-content .contact-info p {
    border-bottom: 0;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
#company-content .contact-info span {
	display: block;
	font-size: 13px;
	margin: 0 0 6px;
}
#company-content .company-details {
	background: #fff;
	box-shadow: 0 2px 3px #eee;
	margin: 30px 0 0;
	padding: 25px;
}
#company-content .company-details p span {
    display: inline-block;
    font-size: 13.5px;
    margin: 0 30px 0 0;
}
#company-content .company-details p span i {
	color: #5085cc;
	margin: 0 8px 0 0;
}
#company-content .company-details p:last-child {
    border-bottom: 0;
    margin: 0;
    padding: 0;
}
#company-content .about-company h3 {
    font-size:  18px;
    font-weight:  400;
    padding: 0 0 6px;
}
#company-content .about-company .uk-grid {
    margin-bottom: 50px;
    margin-top: 50px;
}
#company-content .about-company p {
    font-size: 14px;
    margin: 0 0 20px;
}
#company-content a {
	text-decoration: none;
}
#company-content .company-location iframe {
	width: 100% !important;
	height: 450px !important;
}
#company-content .uk-grid {
	margin: 0;
}
#company-content .uk-width-7-10 {
	padding: 0 5px 0 0;
}
#company-content .uk-width-3-10 {
	padding: 0 0 0 40px;
}
#company-content .company-info {
	background: #fff;
	padding: 25px 25px 5px;
	box-shadow: 0 2px 3px #eee;
}
#company-content .contact-info {
	box-shadow: 0 2px 3px #eee;
	padding: 20px;
}
#company-content .contact-info h3 {
	color: #888;
	font-size: 16px;
	font-weight: 300;
	margin: 0 0 10px;
}
#company-content .contact-info p {
	font-size: 13px;
	margin: 20px 0 0;
}
#company-content .company-calls .uk-grid > * {
	padding: 0 10px;
}
#company-content .company-calls .call-item {
	background: #fff;
	box-shadow: 0 2px 3px #eee;
	padding: 20px;
}
#company-content .company-calls h3 {
	font-size: 22px;
	font-weight: 300;
	margin: 0 0 20px;
	padding: 0 10px;
}
#company-content .institution-offer h5 {
	margin: 0;
}
#company-content .institution-offer h5 a {
	display: block;
	font-size: 15px;
	font-weight: 400;
	margin: 4px 0 0;
}
#company-content .institution-offer .uk-grid {
    margin: 0;
}
#company-content .institution-offer .uk-width-1-10 {
    padding: 0;
}
#company-content .institution-offer .offer-date {
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    text-align: center;
}
#company-content .institution-offer .day {
    color: #5f9bce;
    display: block;
    font-size: 26px;
    font-weight: 300;
    margin: 2px 0 0;
}
#company-content .institution-offer .month-year {
    color: #888;
    display: block;
    font-size: 10px;
    margin: 0 0 6px;
}
#company-content .company-calls .institution-offer {
	padding: 0;
}
#company-content .company-calls p {
	font-size: 13px;
	margin: 7px 0 0;
}
#company-content .company-calls .title {
	font-size: 16px;
	margin: 0 0 10px;
}
#company-content .company-calls .date {
	margin: 15px 0;
	font-size: 13px;
}
#company-content .company-calls .date i {
	margin: 0 5px 0 0;
}
#company-content .call-item img {
	width: 40px;
	height: 40px;
	margin: 0 15px 0 0;
	object-fit: contain;
}
#company-content .call-item .call-info {
	border-top: 1px solid #f0f0f0;
	padding: 20px 0 0;
}
#company-content .call-item .call-info span {
	color: #888;
	display: block;
	margin: 0 0 5px;
}
#company-content .call-item .call-info span a {
	color: #424242;
	display: inline-block;
	vertical-align: top
}
#company-content .company-calls .all-calls {
	float: right;
	font-size: 14px;
	margin: 5px 0 0;
}



/* ==== 8. Calls for Cooperation ==== */
#call-content .container {
	margin: 100px auto;
	max-width: 1180px;
}
#call-content .container .uk-grid {
	margin: 0;
}
#call-content .container .uk-width-7-10 {
	padding: 0 5px 0 0;
}
#call-content .container .uk-width-3-10 {
	padding: 0 0 0 30px;
}
#call-content .call-info {
	background: #fff;
	box-shadow: 0 2px 3px #eee;
	padding: 25px;
}
#call-content .call-name {
	font-size: 30px;
	font-weight: 300;
	margin: 0 0 20px;
}
#call-content .about-call p {
	font-size: 14px;
	margin: 0 0 20px;
}
#call-content .about-call ul {
	font-size: 14px;
}
#call-content .about-call p:last-child {
	margin: 0;
}
#call-content .call-details {
	background: #fff;
	box-shadow: 0 2px 3px #eee;
	font-size: 14px;
	padding: 20px;
}
#call-content .call-details h3 {
	font-size: 16px;
	font-weight: 300;
	margin: 0;
}
#call-content .call-details .call-phd-opening {
	border-bottom: 1px solid #f0f0f0;
	margin: 0 0 20px;
}
#call-content .call-details span {
	color: #888;
	display: block;
	font-size: 13px;
	font-weight: 400;
}
#call-content .call-details a {
	text-decoration: none;
}
#call-content .interest-btn {
    background: #435d7c;
    border-radius: 50px;
    box-shadow: 0 3px 4px #ddd;
    color: #fff;
    display:  inline-block;
    font-size: 14px;
    margin: 40px 0 0;
    padding: 8px 22px;
    text-decoration: none;
    transition: all .4s ease;
}
#call-content .interest-btn:hover {
    background: #c87951;
	color: #fff;
    transition: all .4s ease;
}
#express-interest-form {
    background:  #fbfbfb;
    border:  1px solid #f0f0f0;
    border-radius:  2px;
    margin:  50px 0 0;
    padding:  20px;
}
#express-interest-form .uk-grid {
    margin: 0;
}
#express-interest-form .uk-grid > * {
    padding: 0 0 30px;
}
#express-interest-form .uk-width-1-2 {
    padding: 0 15px 30px 0;
}
#express-interest-form .uk-width-1-2:nth-child(3) {
    padding: 0 0 30px 15px;
}
#express-interest-form label {
    color: #888;
    display: block;
    font-size: 12px;
    margin: 0 0 5px;
    text-transform: uppercase;
}
#express-interest-form input[type="text"],
#express-interest-form input[type="email"],
#express-interest-form textarea {
    border: 1px solid #eee;
    border-radius: 2px;
    font-size: 14px;
    height: auto;
    line-height: inherit;
    outline: none;
    padding: 8px 10px;
    transition: all .4s ease;
    width: 100%;
}
#express-interest-form input[type="text"]:focus,
#express-interest-form input[type="email"]:focus,
#express-interest-form textarea:focus {
    border: 1px solid #318fe8;
    transition: all .4s ease;
}
#express-interest-form input[type="submit"] {
    background: #318fe8;
    border:  0;
    border-radius: 2px;
    box-shadow:  0 2px 3px #eee;
    color: #fff;
    font-size:  14px;
    height:  auto;
    line-height:  inherit;
    padding:  8px 15px;
    transition:  all .4s ease;
}
#express-interest-form input[type="submit"]:hover {
    background: #484848;
    cursor: pointer;
    transition: all .4s ease;
}
#express-interest-form h3 {
    font-size: 20px;
    font-weight: 400;
    margin:  0 0 5px;
}
#express-interest-form .form-notice {
    border-bottom: 1px solid #e8e8e8;
    color: #626262;
    font-size: 13px !important;
    margin: 0 0 30px !important;
    padding: 0 0 15px;
}



/* ==== 9. Archive/Category Pages ==== */
.cpt-header {
	background: #4085c7;
	background: rgb(38,119,191); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(38,119,191,1) 0%, rgba(39,144,163,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(38,119,191,1) 0%,rgba(39,144,163,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(38,119,191,1) 0%,rgba(39,144,163,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
}
.cpt-header .container {
    margin: 0 auto !important;
    padding: 30px 0;
    position:  relative;
}
.cpt-header .widget {
	margin: 0;
}
#phd-opening-archive .container,
#phd-opening-archive-new .container,
#institution-archive .container,
#company-archive .container,
#calls-archive .container,
#calls-archive-new .container {
    margin: 100px auto;
    max-width: 1180px;
}
#phd-opening-archive .research-area-title,
#phd-opening-archive-new .research-area-title {
	color: #fff;
    font-size: 26px;
    font-weight: 300;
    margin: 0;
	padding: 21.5px 10px;
}
#phd-opening-archive .uk-grid {
    margin:  0;
}
#phd-opening-archive .uk-width-3-10 {
    padding: 0 40px 0 0;
}
#phd-opening-archive .phd-opening-item {
    border-bottom: 1px solid #f0f0f0;
    margin: 0 0 20px;
    padding: 0 0 20px;
}
#phd-opening-archive .phd-opening-item:last-child {
    border-bottom: 0;
    margin: 0;
    padding: 0;
}
#phd-opening-archive .phd-opening-item .uk-grid > * {
	padding: 0;
}
#phd-opening-archive .phd-opening-item img {
	height: 120px;
}
#phd-opening-archive .phd-opening-item .title {
	margin: 2px 0 0;
}
#phd-opening-archive .phd-opening-item .title a {
	color: #318fe8;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
}
#phd-opening-archive .phd-opening-item .short-info {
	font-size: 13px;
}
#phd-opening-archive .phd-opening-item .phd-opening-info {
	margin: 0;
	padding: 0;
}
#phd-opening-archive .phd-opening-item .phd-opening-info a {
	color: #888;
	font-size: 12px;
	text-decoration: none;
	transition: all .4s ease;
}
#phd-opening-archive .phd-opening-item .phd-opening-info a:hover {
	color: #323232;
	transition: all .4s ease;
}
#phd-opening-archive-new .phd-opening-item {
	background: #fff;
    box-shadow: 0 2px 3px #eee;
    margin: 0 0 30px;
    padding: 20px;
    transition: all .4s ease;
}
#phd-opening-archive-new .phd-opening-item:hover {
    box-shadow: 0 3px 4px #eee;
    transition: all .4s ease;
}
#phd-opening-archive-new .phd-opening-item .title {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 18px;
}
#phd-opening-archive-new .phd-opening-item .title a {
    color: #318fe8;
    text-decoration: none;
    transition: all .4s ease;
}
#phd-opening-archive-new .phd-opening-item .title a:hover {
    color: #323232;
    transition: all .4s ease;
}
#phd-opening-archive-new .phd-opening-item .short-info {
    font-size: 13px;
    margin: 0 0 15px;
}
#phd-opening-archive-new .phd-opening-item .phd-opening-info {
    border-top: 1px solid #f0f0f0;
    margin: 15px 0 0;
    padding: 15px 0 0;
}
#phd-opening-archive-new .phd-opening-item .phd-opening-info img {
    height: 35px;
    object-fit: contain;
    vertical-align: top;
    width: 35px;
}
#phd-opening-archive-new .phd-opening-item .phd-opening-info a:last-child {
    color: #555;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 0 10px;
    text-decoration: none;
    transition: all .4s ease;
}
#phd-opening-archive-new .phd-opening-item .phd-opening-info a:hover {
    color: #323232;
    transition: all .4s ease;
}
#phd-opening-archive-new .phd-opening-item .phd-opening-info a span {
	color: #888;
	display: block;
	font-size: 12px;
}
#phd-opening-archive-new .field-of-science {
    font-size: 12px;
    margin:  20px 0 0;
}
#phd-opening-archive-new .field-of-science a {
    color: #318fe8;
    text-decoration: none;
    transition: all .4s ease;
}
#phd-opening-archive-new .field-of-science a:hover {
    color: #282828;
    transition: all .4s ease;
}
#phd-opening-archive-new .field-of-science i {
    color: #888;
    font-size: 13px;
    margin: 0 6px 0 0;
}
#phd-opening-archive-new .date {
	font-size: 12px;
	margin: 6px 0 0;
}
#phd-opening-archive-new .date i {
    color: #888;
    font-size: 13px;
    margin: 0 6px 0 0;
}
#phd-opening-archive-new .fields-of-science-btn {
    background: #fff;
    border: 0;
    border-radius:  2px;
    box-shadow: 0 2px 3px #eee;
    color: #222;
    font-size: 15px;
    font-weight:  300;
    line-height:  inherit;
    margin: -20px 0 50px;
    padding: 8px 15px;
    outline: none;
    transition: all .4s ease;
}
#phd-opening-archive-new .fields-of-science-btn:hover {
    color: #318fe8;
    cursor: pointer;
    transition: all .4s ease;
}
#phd-opening-archive-new #fields-of-science-list .uk-modal-dialog {
	border-radius: 2px;
    width: 1000px;
}
#phd-opening-archive-new #fields-of-science-list .uk-modal-dialog h3 {
	border-bottom: 1px solid #f0f0f0;
	color: #318fe8;
	font-size: 18px;
	font-weight: 300;
	margin: 0 0 30px;
	padding: 0 0 10px;
}
#phd-opening-archive-new #fields-of-science-list .uk-modal-dialog h3 a {
	float: right;
	font-size: 20px;
	margin: 2px 0 0;
}
#phd-opening-archive-new #fields-of-science-list .uk-grid {
    margin: 0;
}
#phd-opening-archive-new #fields-of-science-list .uk-grid > * {
	border-right: 1px solid #f0f0f0;
    padding: 0 20px;
}
#phd-opening-archive-new #fields-of-science-list .uk-width-1-2:last-child {
	border-right: 0;
}
#phd-opening-archive-new #fields-of-science-list .fos-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#phd-opening-archive-new #fields-of-science-list .fos-list ul li {
	border-bottom: 1px solid #f0f0f0;
	margin: 0 0 14px;
	padding: 0 0 14px;
}
#phd-opening-archive-new #fields-of-science-list .fos-list ul li:last-child {
	border-bottom: 0;
	margin: 0;
	padding: 0;
}
#phd-opening-archive-new #fields-of-science-list a {
    color: #777;
    display: block;
    font-size: 15px;
    text-decoration: none;
    transition: all .4s ease;
}
#phd-opening-archive-new #fields-of-science-list .uk-width-1-2:last-child li {
	border-bottom: 0;
	margin: 0;
	padding: 0;
}
#phd-opening-archive-new #fields-of-science-list .uk-width-1-2:last-child li i {
	float: left;
	margin: 0 12px 15px 0;
	padding: 4px 0 0;
}
#phd-opening-archive-new #fields-of-science-list .uk-width-1-2:last-child a {
	margin: 0 0 15px;
	overflow: auto;
}
#phd-opening-archive-new #fields-of-science-list .children-fos {
	margin: 0 0 0 23px !important;
}
#phd-opening-archive-new #fields-of-science-list .uk-width-1-2:first-child ul li.uk-active a,
#phd-opening-archive-new #fields-of-science-list a:hover {
    color: #318fe8;
    transition: all .4s ease;
}
#institution-archive .container {
	position: relative;
}
#institution-archive .institutions-title {
	color:  #fff;
	font-size: 26px;
	font-weight: 300;
	padding: 0 10px;
}
#institution-archive .institutions-filters {
	background: rgba(60, 60, 60, 0.34);
	border-radius: 50px;
	position:  absolute;
	right: 0;
	top: 47px;
}
#institution-archive .institutions-filters select {
	background: transparent;
	border: 0;
	color: #fff;
	font-size: 15px;
	outline: none;
	padding: 10px 20px;
}
#institution-archive .institutions-filters select option {
	color: #323232;
}
#institution-archive .institutions-filters input {
	background: rgba(0, 0, 0, 0.15);
	border: 0;
	border-radius: 0 50px 50px 0;
	color: #fff;
	font-size: 15px;
	height: auto;
	line-height: inherit;
	outline: none;
	padding: 12px 20px;
	transition: all .4s ease;
}
#institution-archive .institutions-filters input:hover {
	background: rgba(0,0,0,0.3);
	cursor: pointer;
	transition: all .4s ease;
}
#institution-archive .institution-item {
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 3px #eee;
	transition: all .4s ease;
}
#institution-archive .institution-item:hover {
	box-shadow: 0 3px 4px #eee;
	transition: all .4s ease;
}
#institution-archive .institution-item img {
	border-radius: 2px 2px 0 0;
	width: 100%;
	height: 175px;
	object-fit: cover;
	opacity: 0.9;
	transition: all .4s ease;
}
#institution-archive .institution-item:hover img {
	opacity: 1;
	transition: all .4s ease;
}
#institution-archive .institution-item .title {
	font-size: 14px;
	margin: 0;
	padding: 10px 10px 0;
}
#institution-archive .institution-item .title a {
	color: #318fe8;
	text-decoration: none;
	transition: all .4s ease;
}
#institution-archive .institution-item .title a:hover {
	color: #323232;
	transition: all .4s ease;
}
#institution-archive .institution-item .location {
	color: #888;
	font-size: 13px;
	margin: 5px 0 0;
	padding: 0 10px 15px;
}
#company-archive .container {
	position: relative;
}
#company-archive .companies-title {
	color:  #fff;
	font-size: 26px;
	font-weight: 300;
	padding: 0 10px;
}
#company-archive .companies-filters {
	background: rgba(43, 43, 43, 0.5);
	border-radius: 50px;
	position:  absolute;
	right: 0;
	top: 47px;
}
#company-archive .companies-filters select {
	background: transparent;
	border: 0;
	color: #fff;
	font-size: 15px;
	outline: none;
	padding: 10px 20px;
}
#company-archive .companies-filters select option {
	color: #323232;
}
#company-archive .companies-filters input {
	background: rgba(0, 0, 0, 0.15);
	border: 0;
	border-radius: 0 50px 50px 0;
	color: #fff;
	font-size: 15px;
	height: auto;
	line-height: inherit;
	outline: none;
	padding: 12px 20px;
	transition: all .4s ease;
}
#company-archive .companies-filters input:hover {
	cursor: pointer;
	transition: all .4s ease;
}
#company-archive .company-item {
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 3px #eee;
	transition: all .4s ease;
}
#company-archive .company-item:hover {
	box-shadow: 0 3px 4px #eee;
	transition: all .4s ease;
}
#company-archive .company-item img {
	border-radius: 2px 2px 0 0;
	width: 100%;
	height: 200px;
	object-fit: cover;
	opacity: 0.9;
	transition: all .4s ease;
}
#company-archive .company-item:hover img {
	opacity: 1;
	transition: all .4s ease;
}
#company-archive .company-item .title {
	font-size: 14px;
	margin: 0;
	padding: 10px 10px 0;
}
#company-archive .company-item .title a {
	color: #318fe8;
	text-decoration: none;
	transition: all .4s ease;
}
#company-archive .company-item .title a:hover {
	color: #323232;
	transition: all .4s ease;
}
#company-archive .company-item .location {
	color: #888;
	font-size: 13px;
	margin: 5px 0 0;
	padding: 0 10px 15px;
}
#calls-archive .calls-title,
#calls-archive-new .calls-title {
	color: #fff;
    font-size: 26px;
    font-weight: 300;
    margin: 0;
	padding: 21.5px 10px;
}
#calls-archive .uk-grid {
    margin:  0;
}
#calls-archive .uk-width-7-10 {
	padding: 0 35px 0 0;
}
#calls-archive .uk-width-3-10 {
    padding: 0 0 0 40px;
}
#calls-archive .call-item {
    border-bottom: 1px solid #f0f0f0;
    margin: 0 0 20px;
    padding: 0 0 20px;
}
#calls-archive .call-item:last-child {
    border-bottom: 0;
    margin: 0;
    padding: 0;
}
#calls-archive .call-item .uk-grid > * {
	padding: 0;
}
#calls-archive .call-item img {
	height: 120px;
}
#calls-archive .call-item .title {
	margin: 2px 0 0;
}
#calls-archive .call-item .title a {
	color: #318fe8;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
}
#calls-archive .call-item .short-info {
	font-size: 13px;
}
#calls-archive .call-item .call-info {
	margin: 0;
	padding: 0;
}
#calls-archive .call-item .call-info a {
	color: #888;
	font-size: 12px;
	text-decoration: none;
	transition: all .4s ease;
}
#calls-archive .call-item .call-info a:hover {
	color: #323232;
	transition: all .4s ease;
}
#calls-archive .call-item .call-info .sep {
    color: #555;
    font-size: 12px;
    margin:  0 10px;
}
#calls-archive-new .call-item {
	background: #fff;
    box-shadow: 0 2px 3px #eee;
    margin: 0 0 30px;
    padding: 20px;
    transition: all .4s ease;
}
#calls-archive-new .call-item:hover {
    box-shadow: 0 3px 4px #eee;
    transition: all .4s ease;
}
#calls-archive-new .call-item .title {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 18px;
}
#calls-archive-new .call-item .title a {
    color: #318fe8;
    text-decoration: none;
    transition: all .4s ease;
}
#calls-archive-new .call-item .title a:hover {
    color: #323232;
    transition: all .4s ease;
}
#calls-archive-new .call-item .short-info {
    font-size: 13px;
    margin: 0 0 15px;
}
#calls-archive-new .call-item .call-info {
    border-top: 1px solid #f0f0f0;
    margin: 15px 0 0;
    padding: 15px 0 0;
}
#calls-archive-new .call-item .call-info img {
    height: 35px;
    object-fit: contain;
    vertical-align: top;
    width: 35px;
}
#calls-archive-new .call-item .call-info span {
	display: block;
	margin: 0 0 10px;
}
#calls-archive-new .call-item .call-info span:last-child {
	margin: 0;
}
#calls-archive-new .call-item .call-info a:last-child {
    color: #555;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 0 10px;
    text-decoration: none;
    transition: all .4s ease;
}
#calls-archive-new .call-item .call-info a:hover {
    color: #323232;
    transition: all .4s ease;
}
#calls-archive-new .call-item .call-info a span {
	color: #888;
	display: block;
	font-size: 12px;
}
#calls-archive-new .date {
	font-size: 12px;
	margin: 6px 0 0;
}
#calls-archive-new .date i {
    color: #888;
    font-size: 13px;
    margin: 0 6px 0 0;
}



/* ==== Contact Page ==== */
#contact-page .container {
    max-width: 1180px;
    margin: 0 auto;
}
#contact-page .entry-title {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    padding: 4px 10px;
}
#contact-page .contact-form {
    background: #fff;
    box-shadow: 0 2px 3px #eee;
    margin: 80px 0;
    padding: 30px;
}
#contact-page .contact-form input[type="text"],
#contact-page .contact-form input[type="email"],
#contact-page .contact-form input[type="tel"] {
    border: 0;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
    outline: none;
    padding: 8px 0;
    transition: all .4s ease;
    width: 100%;
}
#contact-page .contact-form input[type="text"]:focus,
#contact-page .contact-form input[type="email"]:focus,
#contact-page .contact-form input[type="tel"]:focus {
    border-bottom: 1px solid #2678be;
    transition: all .4s ease;
}
#contact-page .contact-form textarea {
    border: 0;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
    outline: none;
    padding: 10px 0;
    transition: all .4s ease;
}
#contact-page .contact-form textarea:focus {
    border-bottom: 1px solid #2678be;
    transition: all .4s ease;
}
#contact-page .contact-form .required-notice {
    background: #fdfdfd;
    border-bottom: 1px solid #f7f7f7;
    font-size: 13px;
    margin: -30px -30px 30px;
    padding: 20px 30px;
    text-align: right;
}
#contact-page .contact-form .uk-width-1-2 {
    margin-bottom: 20px;
}
#contact-page .contact-form input[type="submit"] {
    background: #318fe8;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    line-height: normal;
    margin: 20px 0 0;
    padding: 12px 22px;
    transition: all .4s ease;
}
#contact-page .contact-form input[type="submit"]:hover {
    background: #555;
    cursor: pointer;
    transition: all .4s ease;
}
#contact-page .contact-form .confirmation {
    font-size: 14px;
}
#contact-page .contact-form .confirmation span {
    display: block;
    margin: 0 0 20px;
}
#contact-page .contact-form .confirmation input {
    margin: 0 10px 0 0;
}
#contact-page .contact-form .confirmation a {
    color: #318fe8;
    text-decoration: none;
}



/* ==== Useful Info Page ==== */
#useful-info-page .container {
    max-width: 1180px;
    margin: 0 auto;
}
#useful-info-page .entry-title {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    padding: 4px 10px;
}
#useful-info-page .useful-info-accordion {
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 3px #eee;
	margin: 50px 0;
	padding: 40px;
}
#useful-info-page h3.uk-accordion-title {
	background: #fff;
	border-left: 3px solid #ddd;
	border-radius: 0;
	font-size: 18px;
	max-width: 100%;
	padding: 5px 20px;
	text-align: left;
}
#useful-info-page h3.uk-accordion-title.uk-active {
	border-color: #318fe8;
}
#useful-info-page .uk-accordion-content {
	color: #424242;
	max-width: 100%;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}
#useful-info-page .uk-accordion-content h4 {
	color: #222;
	font-size: 16px;
	font-weight: 300;
}
#useful-info-page .useful-info-section {
	margin: 0 0 50px;
}
#useful-info-page .useful-info-section:last-child {
	margin: 0 0 20px;
}




/* ==== *. Widgets ==== */

/* === Research Areas Widget - Grid Four Columns === */
.research-areas-four-columns-grid .uk-grid > * {
	border-bottom: 1px solid #e8e8e8;
	border-right: 1px dashed #e4e4e4;
	padding: 35px 20px;
	text-align: center;
}
.research-areas-four-columns-grid .uk-grid > *:nth-child(4n) {
	border-bottom: 1px dashed #e4e4e4;
	border-right: 0;
	padding: 35px 20px;
	text-align: center;
}
.research-areas-four-columns-grid .uk-grid > *:last-child,
.research-areas-four-columns-grid .uk-grid > *:nth-last-child(2),
.research-areas-four-columns-grid .uk-grid > *:nth-last-child(3),
.research-areas-four-columns-grid .uk-grid > *:nth-last-child(4) {
	border-bottom: 0;
	padding: 35px 20px;
	text-align: center;
}
.research-areas-four-columns-grid p {
	color: #888 !important;
	font-size: 12px !important;
	margin: 0;
}
.research-areas-four-columns-grid p a {
	display: block;
	font-size: 13px !important;
}

/* === Research Areas Widget - Grid Five Columns === */
.research-areas-five-columns-grid .uk-grid > * {
	border-bottom: 1px solid #e8e8e8;
	border-right: 1px dashed #e4e4e4;
	padding: 35px 20px;
	text-align: center;
}
.research-areas-five-columns-grid .uk-grid > *:nth-child(5n) {
	border-bottom: 1px dashed #e4e4e4;
	border-right: 0;
	padding: 35px 20px;
	text-align: center;
}
.research-areas-five-columns-grid .uk-grid > *:last-child,
.research-areas-five-columns-grid .uk-grid > *:nth-last-child(2),
.research-areas-five-columns-grid .uk-grid > *:nth-last-child(3),
.research-areas-five-columns-grid .uk-grid > *:nth-last-child(4) {
	border-bottom: 0;
	padding: 35px 20px;
	text-align: center;
}
.research-areas-five-columns-grid p {
	color: #888 !important;
	font-size: 12px !important;
	margin: 0;
}
.research-areas-five-columns-grid p a {
	display: block;
	font-size: 13px !important;
}


/* === Latest PhD Openings Widget - Grid Four Columns === */
.latest-offers-three-col-grid {
	margin: 60px 0 0;
    position: relative;
}
.latest-offers-three-col-grid .uk-grid,
.latest-offers-three-col-grid  {
	margin: 0;
}
.latest-offers-three-col-grid .uk-grid-width-1-3 {
	margin: 0 -40px 0 35px;
}
.latest-offers-three-col-grid .uk-width-1-3,
.latest-offers-three-col-grid .uk-grid-width-1-3 > * {
	padding: 0 50px 30px 15px;
}
.latest-offers-three-col-grid .uk-slidenav-previous {
    position: absolute;
    top: 100px;
    left: -50px;
    font-size: 35px;
    text-decoration: none;
}
.latest-offers-three-col-grid .uk-slidenav-next {
    position: absolute;
    top: 100px;
    right: -50px;
    font-size: 35px;
    text-decoration: none;
}
.latest-offers-three-col-grid .uk-width-1-1 {
	padding: 0;
}
.latest-offers-three-col-grid .phd-opening-box {
	background: #fff;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 2px 3px #eee;
}
.latest-offers-three-col-grid .phd-opening-thumbnail {
	position: relative;
}
.latest-offers-three-col-grid .phd-opening-thumbnail a {
	display: block;
	width: 100%;
	height: 150px;
}
.latest-offers-three-col-grid .phd-opening-box img {
	border-radius: 2px 0 0 2px;
	width: 100%;
	height: 150px;
	object-fit: cover;
}
.latest-offers-three-col-grid .phd-opening-details h4 {
    font-size: 15px;
    font-weight: 400;
    margin: 14px 0 5px;
    padding: 0 20px;
}
.latest-offers-three-col-grid .phd-opening-details h4 a {
    color: #1d72b6;
    text-decoration: none;
	transition: all .4s ease;
}
.latest-offers-three-col-grid .phd-opening-details h4 a:hover {
	color: #323232;
	transition: all .4s ease;
}
.latest-offers-three-col-grid .phd-opening-details .description {
	color: #727272;
	font-size: 12px;
	margin: 0;
	padding: 5px 20px 0;
}
.latest-offers-three-col-grid .phd-opening-date {
	background: rgba(0, 0, 0, 0.6);
	border-radius: 2px 0 0 2px;
	color: #fff;
	padding: 4px 0;
	position: absolute;
	text-align: center;
	top: 0;
	left: -45px;
	width: 45px;
}
.latest-offers-three-col-grid .phd-opening-date .day {
	display: block;
	font-size: 16px;
}
.latest-offers-three-col-grid .phd-opening-date .month {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
}
.latest-offers-three-col-grid .phd-categories {
	font-size: 12px;
	margin: 18px 20px 0;
}
.latest-offers-three-col-grid .phd-categories a {
	color: #318fe8;
	text-decoration: none;
}
.latest-offers-three-col-grid .phd-opening-details .phd-opening-info {
	border-top: 1px solid #f0f0f0;
	font-size: 11.5px;
	margin: 10px 20px 0;
	padding: 15px 0;
}
.latest-offers-three-col-grid .phd-opening-details .phd-opening-info img {
	height: 40px;
    object-fit: contain;
    vertical-align: top;
    width: 40px;
}
.latest-offers-three-col-grid .phd-opening-details .phd-opening-info a {
	color: #323232;
	text-decoration: none;
	transition: all .4s ease;
}
.latest-offers-three-col-grid .phd-opening-info a:last-child {
    color: #555;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 0 10px;
    text-decoration: none;
    transition: all .4s ease;
}
.latest-offers-three-col-grid .phd-opening-details .phd-opening-info a:hover {
	color: #1d73b7;
	transition: all .4s ease;
}
.latest-offers-three-col-grid .phd-opening-details .phd-opening-info span {
	display: block;
}
.latest-offers-three-col-grid .phd-opening-details .phd-opening-info span i {
	margin: 0 5px 0 0;
}
.latest-offers-three-col-grid .phd-opening-details .phd-opening-info span a {
	color: #1d72b6;
	display: block;
	margin: 0 0 8px;
	transition: all .4s ease;
}
.latest-offers-three-col-grid .phd-opening-details .phd-opening-info span a:last-child {
	margin: 0;
}
.latest-offers-three-col-grid .phd-opening-details .phd-opening-info span a:hover {
	color: #323232;
	transition: all .4s ease;
}


/* USER AREA */
.user-area {
	font-size: 15px;
	position: relative;
	display: inline-block;
	background: #f7f7f7;
	color: rgba(86, 86, 86, 0.75);
	padding: 10px 20px;
	margin: -10px 0;
	border: 1px solid #f7f7f7;
}
.user-area a {
	color: #3e3e3e !important;
	text-decoration: none;
}
.user-area .uk-dropdown {
	background: #fff;
	box-shadow: 0 2px 3px #eee;
	left: auto !important;
	margin: 10px 0;
	padding: 20px 20px 10px;
	right: 0;
	text-align: left;
	min-width: 250px;
}
.user-area .uk-dropdown ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.user-area .uk-dropdown ul li {
	font-size: 14px;
	margin: 0 0 5px;
	padding: 0 0 5px;
}
.user-area .uk-dropdown .user-logout {
	border-top: 1px solid #f0f0f0;
	margin: 10px 0 0;
	padding: 10px 0 0;
}
.user-area .uk-dropdown ul li a {
	color: #323232 !important;
	display: block;
	transition: all .4s ease;
}
.user-area .uk-dropdown ul li a:hover {
	color: #318fe8 !important;
	transition: all .4s ease;
}

.phdhub-forms-btn {
    background: #fff;
    border: 0;
    color: #555;
    border-right: 1px solid #f0f0f0;
    float: right;
    padding-top: 12px;
    transition: all .4s ease;
}
.phdhub-forms-btn:hover {
    color: #318fe8;
    cursor: pointer;
    transition: all .4s ease;
}


/* ==== No Entries ==== */
.no-entries {
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 3px #eee;
	font-size: 15px;
	margin: 0;
	padding: 20px;
}


@media (max-width: 767px) {
	.latest-offers-three-col-grid .uk-width-1-3 {
		width: 100%;
		padding: 0 20px 30px 60px;
	}
	.latest-offers-three-col-grid .uk-width-1-3:last-child {
		padding: 0 20px 0 60px;
	}
	#phd-opening-archive-new .container {
		padding: 0 20px;
	}
	#phd-opening-archive-new .cpt-header .container {
		padding: 5px 20px 20px;
	}
	.phdhub-advanced-filters {
		position: relative;
		top: 0;
	}
	#phd-offer-content .container {
		padding: 0 20px;
	}
	#phd-offer-content .container .uk-width-3-10 {
		padding: 30px 0 0;
	}
	#phd-offer-content .fields-of-science .uk-width-1-2:first-child {
		margin-bottom: 20px;
	}
	#phd-offer-content .institution-columns h3 .all-offers {
		display: block;
		float: none;
		margin: 15px 0;
	}
	
	#institution-archive .cpt-header .container {
		padding: 30px 20px;
	}
	#institution-archive .institutions-filters {
		position: relative;
		top: 0;
		width: 80.1%;
	}
	#institution-archive .container {
		padding: 0 20px;
	}
	#institution-archive .container .uk-width-1-4 {
		padding-bottom: 25px;
	}
	#institution-content figure,
	#institution-content figure img {
		height: 450px;
	}
	#institution-content .container {
		padding: 0 20px;
	}
	#institution-content .institution-columns .uk-width-7-10 {
		padding: 0 0 30px;
	}
	#institution-content .institution-columns .uk-width-3-10 {
		padding: 0;
	}
	#institution-content .institution-statistics .uk-grid > * {
		margin: 0 0 60px;
		width: 50%;
	}
	#institution-content .institution-statistics .uk-grid > *:nth-child(3),
	#institution-content .institution-statistics .uk-grid > *:nth-child(4) {
		margin: 0;
	}
	#institution-content .latest-offers-three-col-grid h3 {
		padding: 0 20px;
	}
	#institution-content .institution-faculties {
		padding: 0 20px;
	}
	
	#faculty-content figure,
	#faculty-content figure img {
		height: 450px;
	}
	#faculty-content .container {
		padding: 0 20px;
	}
	#faculty-content .container .uk-width-7-10 {
		padding: 0 0 30px;
	}
	#faculty-content .faculty-statistics .uk-grid > * {
		margin: 0 0 60px;
		width: 50%;
	}
	#faculty-content .faculty-statistics .uk-grid > *:nth-child(3),
	#faculty-content .faculty-statistics .uk-grid > *:nth-child(4) {
		margin: 0;
	}
	
	#phd-program-content figure,
	#phd-program-content figure img {
		height: 450px;
	}
	#phd-program-content .container {
		padding: 0 20px;
	}
	#phd-program-content .container .uk-width-7-10 {
		padding: 0 0 30px;
	}
	#phd-program-content .phd-program-openings .uk-width-1-3 {
		padding: 0 5px 25px 45px;
	}
	#phd-program-content .phd-program-openings .uk-width-1-3:last-child {
		padding: 0 5px 0 45px;
	}
	
	#research-team-content figure,
	#research-team-content figure img {
		height: 450px;
	}
	#research-team-content .container {
		padding: 0 20px;
	}
	#research-team-content .container .uk-width-7-10 {
		padding: 0 0 30px;
	}
	#research-team-content .team-phd-openings .uk-width-1-3 {
		padding: 0 5px 25px 45px;
	}
	#research-team-content .team-phd-openings .uk-width-1-3:last-child {
		padding: 0 5px 0 45px;
	}
	
	#company-archive .cpt-header .container {
		padding: 30px 20px;
	}
	#company-archive .companies-filters {
		position: relative;
		top: 0;
		width: 81.3%;
	}
	#company-archive .container {
		padding: 0 20px;
	}
	#company-archive .container .uk-width-1-4 {
		padding-bottom: 25px;
	}
	#company-content figure,
	#company-content figure img {
		height: 450px;
	}
	#company-content .container {
		padding: 0 20px;
	}
	#company-content .container .uk-width-7-10 {
		padding: 0 0 30px;
	}
	#company-content .company-details p span {
		display: block;
		font-size: 14px;
		margin: 0 0 10px;
	}
	#company-content .company-details p span:last-child {
		margin: 0;
	}
	#company-content .container .uk-width-3-10 {
		padding: 0;
	}
	#company-content .company-calls h3 .all-calls {
		display: block;
		float: none;
		margin: 15px 0;
	}
	#company-content .company-calls .uk-grid {
		width: 100%;
	}
	#company-content .company-calls .uk-width-1-3 {
		padding: 0 10px 25px;
	}
	
	#calls-archive-new .container {
		padding: 0 20px;
	}
	#calls-archive-new .cpt-header .container {
		padding: 30px 20px;
	}
	#calls-archive-new .container .uk-width-1-3 {
		padding-bottom: 25px;
	}
	#call-content .container {
		padding: 0 20px;
	}
	#call-content .container .about-call {
		padding: 0 0 30px;
	}
	#call-content .container .uk-width-3-10 {
		padding: 0;
	}
}
